html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-flow: column;
  background-color: $color1;
}

a {
  text-decoration: none;
}

footer {
  margin-top: auto;
}

.brand-font {
  font-family: 'Silkscreen', cursive;
  color: $color1 !important;
  text-shadow:
    0 0 1px #fff,
    0 0 10px $color3,
    0 0 20px $color3,
    0 0 22px $color3,
    0 0 25px $color3,
    0 0 35px $color3;
}