@import '../../assets/scss/colors';

.item-list-container {
  margin-top: 100px;
  width: 100%;
}

.card {
  width: 18rem;
  text-align: center;
  text-wrap: balance;
}

.card-img-top {
  max-height: 250px;
  width: max-content;
}

.btn-primary {
  background-color: $color3;
  border-color: $color3;

  &:hover {
    background-color: $color2;
  }
}