@import '../../assets/scss/colors';

.item-detail {
  margin-top: 100px;
}

.item-image {
  max-width: 90%;
  max-height: 50vh;

  @media (min-width: 768px) {
    & {
      max-height: 70vh;
    }
  }
}

.item-category {
  color: $color4;
}