html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-flow: column;
  background-color: $color2;
}

a {
  text-decoration: none;
}

footer {
  margin-top: auto;
}

.allison {
  font-family: 'Allison', cursive;
}