@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import '../../assets/scss/colors';

.navbar {
  background-color: $color5;
}

.navbarBrand {
  font-family: 'Silkscreen', sans-serif;
  color: $color1 !important;
  text-shadow:
    0 0 1px #fff,
    0 0 10px $color3,
    0 0 20px $color3,
    0 0 22px $color3,
    0 0 25px $color3,
    0 0 35px $color3;
  font-size: 50px;
}

.navLink {
  color: $color1;

  &:hover {
    color: $color3;
  }

  &:focus {
    color: $color2;
  }
}

.navbarTogglerIcon {
  color: $color1;
}

.dropdownCustom:focus {
  color: $color2;
}